.layout-br {
  background: #f1f3ff;
  max-width: 1440px;
  margin: auto;
}

table tr td:first-child {
  padding-right: 16px;
}

table tr td {
  padding-bottom: 10px;
}

.btn-success {
  background-color: #5cb85f !important;
}
